{% extends 'base.html'  %}
{% block title %}  {% endblock %}

{% block content %}




    <h1>Add Pet</h1>
    
    <form  method="POST" action="/">

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden'%}

    <div class='form-group'>
        {{ field.label }}
        {{ field }}

    <p>
        {% if field.errors %}
        {% for error in field.errors %}
	        <b class="text-danger">{{ error }}</b>
        {% endfor %}
        {% endif %}
    </p>

    </div> 

         {% endfor %} 
        <button type="submit" class="btn btn-primary">Add</button>
        
    </form>
    <a href="/">Go Back..</a>
    
    {% endblock %}

